flows (2).json
[{"id":"623de373.9e515c","type":"tab","label":"ML_112_flows","disabled":false,"info":""},{"id":"a19cd8ba.e48788","type":"ui_form","z":"623de373.9e515c","name":"","label":"","group":"5d41c9c9.5cd518","order":1,"width":0,"height":0,"options":[{"label":"Date/Time (PST)","value":"dt","type":"text","required":true,"rows":null},{"label":"Temperature (deg F)","value":"tp","type":"number","required":true,"rows":null},{"label":"Relative Humidity (%) ","value":"rh","type":"number","required":true,"rows":null},{"label":"Intermittent/Shot Snow ('')","value":"ss","type":"number","required":true,"rows":null}],"formValue":{"dt":"","tp":"","rh":"","ss":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":620,"wires":[["b057c460.718c48"]]},{"id":"b057c460.718c48","type":"function","z":"623de373.9e515c","name":"Pre Token","func":"global.set(\"dt\",msg.payload.dt)\nglobal.set(\"tp\",msg.payload.tp)\nglobal.set(\"rh\",msg.payload.rh)\nglobal.set(\"ss\",msg.payload.ss)\nvar apikey=\"JEXR6porkGqKiV2FxiSo4kr03BsJp9G5MwepoSeuF-y2\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":540,"wires":[["367f2d92.d19612"]]},{"id":"367f2d92.d19612","type":"http request","z":"623de373.9e515c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":440,"wires":[["e5c99ddd.35fe9"]]},{"id":"e5c99ddd.35fe9","type":"function","z":"623de373.9e515c","name":"Pre Prediction","func":"var dt=global.get('dt')\nvar tp=global.get('tp')\nvar rh=global.get('rh')\nvar ss=global.get('ss')\nvar token=msg.payload.access_token\nvar instance_id=\"b478d3c4-fb94-420f-9d44-f6efd0833d67\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date/Time (PST)\", \"Temperature (deg F)\", \"Relative Humidity (%)\", \"Intermittent/Shot Snow ('')\"], \"values\": [[dt,tp,rh,ss]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":380,"wires":[["44452351.89f79c"]]},{"id":"44452351.89f79c","type":"http request","z":"623de373.9e515c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3898d1b3-b973-4366-88a7-5c254b3980a8/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":300,"wires":[["1b2063b.e6cdb9c"]]},{"id":"1b2063b.e6cdb9c","type":"function","z":"623de373.9e515c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":200,"wires":[["1619c069.4c4dd","98c29620.edf3a8"]]},{"id":"1619c069.4c4dd","type":"debug","z":"623de373.9e515c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":120,"wires":[]},{"id":"633f4f64.98ed","type":"inject","z":"623de373.9e515c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":460,"wires":[["b057c460.718c48"]]},{"id":"98c29620.edf3a8","type":"ui_text","z":"623de373.9e515c","group":"5d41c9c9.5cd518","order":2,"width":0,"height":0,"name":"","label":"Snow_Depth","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":360,"wires":[]},{"id":"5d41c9c9.5cd518","type":"ui_group","z":"","name":"Avalanche_Forecasting_Prediction","tab":"da9b99f9.cd0f18","order":1,"disp":true,"width":"6","collapse":false},{"id":"da9b99f9.cd0f18","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]